<!-- Modal Structure -->
<% @performed_mission.each do |m| %>
  <div class="ui modal" id="performedMissionDetailModalContent<%= m.id %>">
    <i class="close icon"></i>
    <div class="header">
      미션 만들기
    </div>
    <div class="ui three stackable cards">
      <div class="ui fluid card">
        <!--프로필 파트-->
        <div class="content">
          <div class="right floated meta">14h</div>
          <% if @mission_creator.nil? %>
          <% creator = User.find(@mission_creator[index]) %>
          
          <img class="ui avatar image" src="<%= creator.profile_img %>"> <%= creator.nickname %>
        <% end %>
        </div>
        
        <!--메인 이미지-->
      <!--<5 @missions.each do |m| 5>-->
      <!--<5 unless @missions.first.nil? 5>-->
     <!--@missions.each do |m|-->
      <div class="blurring dimmable image user-create-image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <a href="/mission/detail/<%= m.id %>">
                <div id="missionPreviewModal<%= m.id %>" class="ui inverted button">자세히 보기</div>
              </a>
      
      <!--다른 것들-->
      <!--<a href="/mission/detail/<5= m.id 5>>--
      <!--</a>-->
      <!--<5 end 5>-->
      <!--<5= link_to('/mission/detail/#{m.id}') do 5><div id="missionPreviewModal i" class="ui inverted button">자세히 보기</div> <5 end 5>-->
            </div>
          </div>
        </div>
          <img class="image" src="<%= m.multimedia %>">
      </div>
      
        <!--내용-->
        <div class="content">
          <strong><%= m.title %></strong><br>
          <br>
          <%= m.content %><br>
          <br>
          <span class="right floated">
            <i class="heart outline like icon"></i>
            17 likes
          </span>
          <i class="comment icon"></i>
          3 comments
        </div>
        <div class="extra content">
          <div class="ui large transparent left icon input">
            <i class="heart outline icon"></i>
            <input type="text" placeholder="Add Comment...">
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


<script>
$(document).ready(function(){
  <% @performed_mission.each do |m| %>
  $('#performedMissionDetailModal<%= m.id %>').click(function(){
    $('#performedMissionDetailModalContent<%= m.id %>').modal('show');
  });
  <% end %>
});
</script>