<div class="ui one stackable cards" style="padding-bottom:100px;margin:0 auto;">
   
<div class="ui fluid card">
    <!--프로필 파트-->
    <div class="content">
      <div class="right floated meta">14h</div>
      <img class="ui avatar image" src="/images/default-image.png"> <%= @mission_creator.nickname %>
    </div>
    
    <!--메인 이미지-->
    <div class="image" style="margin: auto;">
      <img class="image" src="<%= @mission.multimedia %>" style="max-width: 700px; height: auto; " />
    </div>
    
    <!--내용-->
    <div class="content">
      <span class="left floated">
        <strong><%= @mission.title %></strong><br><br>
        <%= @mission.content %>
        <br>
      </span>
      <span class="right floated">
        <i class="comment icon"></i>
        3 comments
        <i class="share alternate icon"></i>
        9 shared
      </span>
    </div>
    <div class="extra content">
      
      <!--댓글-->
      <div class="ui large transparent left icon input">
        <i class="heart outline icon"></i>
        <input type="text" class="validate" name="mission_comment" placeholder="댓글달아주세용">
      </div>

      </div>
    </div>
</div>



<!--팝업 내용물-아직 하는 중입니다-->
<div class="ui custom popup top left transition hidden">
  <!--<div class="ui small buttons">-->
    <!--원래 공유 버튼-->
    <button class="ui facebook icon button">
      <a href="https://www.facebook.com/dialog/share?app_id=184484190795&display=popup&e2e=%7B%7D&href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2F&locale=en_US&mobile_iframe=false&next=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FuN4_cXtJDGb.js%3Fversion%3D42%23cb%3Df189db51f1a3c14%26domain%3Dwww.fbrell.com%26origin%3Dhttp%253A%252F%252Fwww.fbrell.com%252Ff3fda3ae0438974%26relation%3Dopener%26frame%3Df2944388ebaf9bc%26result%3D%2522xxRESULTTOKENxx%2522&sdk=joey">
        <i class="facebook icon"></i></a>
    </button>
    <button class="ui circular twitter icon button">
      <a href="https://twitter.com/intent/tweet?url=https%3A//youtu.be/pBBFy6dK1OY&text=%EC%A3%BC%EA%B0%84%EC%95%84%EC%9D%B4%EB%8F%8C%20%EC%9D%B8%ED%94%BC%EB%8B%88%ED%8A%B8%28Infinite%29%20207%ED%9A%8C&via=YouTube&related=YouTube,YouTubeTrends,YTCreators">
      <i class="twitter icon"></i></a>
    </button>
    <button class="ui circular youtube icon button">
      <i class="youtube icon"></i>
    </button>
    
  
    <!--새 방법-->
    <a href="http://www.facebook.com/sharer/sharer.php?u=">
      <i class="facebook icon"></i>
    </a>
    <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <!--</div>-->
</div>


<!--공유하기 팝업창용 script-->
<script>
$(document).ready(function(){
  $(".share")
    .popup({
      popup : $('.custom.popup'),
      on    : 'click'
    });
});
</script>






<!--미션 수행하기 모달-->
<%= render 'mission/createPerformedMissionModal' %>

<!--여기부터 performed_mission-->
<div class="ui animated fade button centered yellow" id="createPerformedMissionModal" tabindex="0">
  <div class="visible content">미션수행하기</div>
  <div class="hidden content">
    덕질하자
  </div>
</div>


<br>
<br>
<br>
<br>
<!--다른사람이 수행한 미션-->
  <!--수행한 미션 타이틀: <%#= m.title %><br>-->
  <!--수행한 미션 이미지: <img src="<%#= m.multimedia %>"/><br>-->
  <!--수행한 미션 내용: <%#= m.content %><br>-->
  <!--<%# end %>-->
</div>

<!--형규:수행한미션띄우기-->
  <!--<div class="ui three stackable cards">-->
  <!--  <% @performed_mission.each do |m| %>-->
  <!--    <div class="ui fluid card">-->
  <!--      <div class="card" style="width: 326.66px; height: 300px; padding:auto 0; ">-->
  <!--        <div class="image">-->
  <!--          <img src="<%= m.multimedia %>" style="max-width: auto; height: auto;" >-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  <% end %>-->
  <!--</div>-->
  
<!--예니:수행한미션띄우기-->
  

<div class="ui three stackable cards">
    <% @performed_mission.each do |m| %>
     <div class="ui fluid card">
      <!--프로필 파트-->
      <div class="content">
        <div class="right floated meta">14h</div>
        <% if @mission_creator.nil? %>
        <% creator = User.find(@mission_creator[index]) %>
        
        <img class="ui avatar image" src="<%= creator.profile_img %>"> <%= creator.nickname %>
      <% end %>
      </div>
      
      <!--메인 이미지-->
    <!--<5 @missions.each do |m| 5>-->
    <!--<5 unless @missions.first.nil? 5>-->
   <!--@missions.each do |m|-->
    <div class="blurring dimmable image user-create-image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <a href="'mission/detail/:id/performed_mission/:id'<%= m.id %>">
            <div id="performedMissionDetailModal<%= m.id %>" class="ui inverted button">자세히 보기</div>
            </a>
    
    <!--아래는 참조할거        -->
    <a href="/mission/detail/<%= m.id %>></a>
    <% end %>
    <%= link_to('/mission/detail/#{m.id}') do %>
    <div id="missionPreviewModal i" class="ui inverted button">자세히 보기</div>
    <% end %>
    <!--여기까지-->
            
    
    <!--다른 것들-->
    <!--<a href="/mission/detail/<5= m.id 5>>--
    <!--</a>-->
    <!--<5 end 5>-->
    <!--<5= link_to('/mission/detail/#{m.id}') do 5><div id="missionPreviewModal i" class="ui inverted button">자세히 보기</div> <5 end 5>-->
          </div>
        </div>
      </div>
        <img class="image" src="<%= m.multimedia %>">
    </div>
    
      <!--내용-->

      <div class="extra content">
        <span class="right floated">
          <i class="heart outline like icon"></i>
          17 likes
        </span>
        <i class="comment icon"></i>
        3 comments
      </div>
    </div>

<% end %>
</div>
  

<% render 'mission/performedMissionDetailModal.html' %>
  
<script>
$(document).ready(function(){
  $('.cards .user-create-image').dimmer({
    on: 'hover'
  });
});
</script>