<div class="ui one stackable cards" style="padding-bottom:100px;margin:0 auto;">
   
<div class="ui fluid card">
    <!--프로필 파트-->
    <div class="content">
      <div class="right floated meta">14h</div>
      <img class="ui avatar image" src="<%= @mission.multimedia %>"> Elliot
    </div>
    
    <!--메인 이미지-->
    <div class="image">
      <img class="image" src="<%= @mission.multimedia %>">
    </div>
    
    <!--내용-->
    <div class="content">
      <!--<h4><5= @one_mission.title 5></5></h4>-->
      <!--<p><5= @one_mission.content 5></p>-->
      <span class="left floated">
        <%= @mission.title %><br>
        <%= @mission.content %>
      </span>
      <span class="right floated">
        <i class="comment icon"></i>
        3 comments
        <i class="share alternate icon"></i>
        9 shared
      </span>
    </div>
    <div class="extra content">
      <div class="ui large transparent left icon input">
        <i class="heart outline icon"></i>
        <input type="text" placeholder="Add Comment...">
      </div>
    </div>
    </div>

</div>
<!--여기까지가 미션 문제-->

<!--여기부터 performed_mission-->
<div class="section">
  <% @performed_mission.each do |m| %>
  수행한 미션 타이틀: <%= m.title %><br>
  수행한 미션 이미지: <img src="<%= m.multimedia %>"/><br>
  수행한 미션 내용: <%= m.content %><br>
  <% end %>
</div>


<div class="ui 3 stackable images" style="padding-bottom:100px;margin:0 auto;">
   
<div class="ui fluid images">
    <!--프로필 파트-->
    <div class="content">
      <div class="right floated meta">14h</div>
      <img class="ui avatar image" src="<%= @mission.multimedia %>"> Elliot
    </div>
    
    <!--메인 이미지-->
    <div class="image">
      <img class="image" src="<%= @mission.multimedia %>">
    </div>
    
    <!--내용-->
    <div class="content">
      <!--<h4><5= @one_mission.title 5></5></h4>-->
      <!--<p><5= @one_mission.content 5></p>-->
      <span class="left floated">
        <%= @mission.title %><br>
        <%= @mission.content %>
      </span>
      <span class="right floated">
        <i class="comment icon"></i>
        3 comments
        <i class="share alternate icon"></i>
        9 shared
      </span>
    </div>
    <div class="extra content">
      <div class="ui large transparent left icon input">
        <i class="heart outline icon"></i>
        <input type="text" placeholder="Add Comment...">
      </div>
    </div>
    </div>

</div>