

 <h1 class="ui header">수정하기</h1>
    <%= form_tag('/mission/mission_edit/' + @mission.id.to_s, :method => 'POST', :multipart => true) do %>
    <div class="image content">
      <div class="ui medium image">
        <!--<img src="/images/test1.jpg">-->
        
        <input value="<%= @mission.multimedia %>" name="mission_multimedia" type="file" id="file" accept="image/*" onchange="getThumbnail(this,$('.imagePreview'))">
        <div id="image"><img class="image imagePreview" src="<%= @mission.multimedia %>"></div>
        
        <!--<input type="file" name="mission_multimedia" accept="image/*">-->
        
      </div>
      <div class="description">
        <div class="ui header">
          <div class="ui form">
            <div class="field">
              <label></label>
              <input value="<%= @mission.title %>" name="mission_title" type="text" placeholder="미션 제목">
              
              
            </div>
          </div>
        </div>
        <div class="ui form">
          <div class="field">
            <label></label>
            <textarea name="mission_content" placeholder="미션 내용"><%= @mission.content %></textarea>
          </div>
        </div>
      </div>
    </div>
    
    <div class="actions">
      <!--<div class="ui black deny button">-->
      <!--  취소-->
      <!--</div>-->
    
        <button class="ui positive right labeled icon button">
          수정하기
          <i class="write icon"></i>
        </button>

    </div>
  <% end %>
  
  
<script type="text/javascript">
    /**
     * 이미지 썸네일을 불러오는 function
     * @param html : input 필드의 dom을 인자로 받는다. 물론 타입은 file
     * @param $target : 불러온 이미지를 적용할 jquery 객체.
     **/
    function getThumbnail(html, $target) {
       if (html.files && html.files[0]) {
           var reader = new FileReader();
           reader.onload = function (e) {
            //   $target.html('<img class="image" src="'+ e.target.result + '"/>')
                $target.attr('src', e.target.result);
           }
           reader.readAsDataURL(html.files[0]);
       }
    }
</script>
        
        
        
        
        
        
        
        
        
        
        
        
   