<div class = "container">
  <div class = "outer">
    <div class ="inner">
      <div class ="centered">
<%- if devise_mapping.omniauthable? %>
  <div>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to omniauth_authorize_path(resource_name, provider) do %>
        <%- if provider.to_s == "google_oauth2" %>
          <% provider = "google plus" %>
        <% end %>
        <button class="ui <%= provider %> icon button">
          <i class="<%= provider %> icon" ></i>
        </button>
      <% end -%>
    <% end -%>
  </div>
<% end -%>
<%- if controller_name != 'sessions' %>
  <div class ='container'>
    <button class="ui primary large basic button">
      <%= link_to "로그인", new_session_path(resource_name) %><br />
  </div>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div class ='container'>
    <button class="ui primary large basic button">
      <%= link_to "비밀번호 찾기", new_password_path(resource_name) %><br />
  </div>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class ='container'>
    <button class="ui primary large basic button">
      <%= link_to "가입하기", new_registration_path(resource_name), :name => 'test' %><br />
  </div>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>
</div>
</div>
</div>
</div>
<!--"Sign in with #{OmniAuth::Utils.camelize(provider)}"-->