<h2>Forgot your password?</h2>
<div class="ui one column stackable center aligned page grid">
  <div class="column">
      <div class="ui raise segment">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="ui field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "비밀번호 리셋메일 요청" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>