<%= stylesheet_link_tag 'signupin', media: 'all', 'data-turbolinks-track' => true %>
<style type="text/css">
  body {
    /*background-color: #DADADA;*/
  }
  body > .grid {
    height: 100%;
  }
  .image {
    margin-top: -100px;
  }
  .column {
    width: 100% !important;
    max-width: 450px !important;
  }
  .holder {
    height: 800px
  }
  .holder .middle {
    height: 100%
  }
  .ui.check_box {
    float: left;
  }
</style>
<div class="holder">
<div class="ui middle aligned center aligned grid">
  <div class="column">
  <h2 class='ui orange image header'>
      비밀번호 찾기
    </h2>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, :html => {class: "ui large form"}) do |f| %>
  <%= devise_error_messages! %>
<div class="ui raise segment">
  <div class="ui field">
    <%= f.label :email, :class => 'ui left aligned header'%><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  <div class="ui field">
    <div class="actions">
      <%= f.submit "비밀번호 리셋메일 요청" %>
    </div>
  </div>  
<% end %>
</div>
    <%= render "devise/shared/links" %>
  </div>
</div>
</div>
