<style>
  .mainButtongroup {
    border-radius: 0 !important;
    border: none !important;
  }
  .mainButtongroup .ui.button {
    border-radius: 0 !important;
    border: none !important;
  }
  .ui.basic.buttons .button:hover, .ui.basic.button:hover {
    box-shadow: none !important;
  }
  .ui.basic.buttons .button:focus, .ui.basic.button:focus {
    box-shadow: none !important;
  }
</style>
<div class="ui center aligned segment" style="border: none; box-shadow: none; background: transparent">
  오늘 할 덕질을 내일로 미루지 말자
</div>

    <% title = ["[1일 1덕]", " 데일리 팬뉴스", " 아티스트 프로필"] %>
    <div class="ui three stackable cards">
    <% for i in 1..3 do %>
        <div class="ui fluid card">
          <div class="blurring dimmable image basic-image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui inverted button"><%= title[i-1] %></div>
                </div>
              </div>
            </div>
            <img class="image" src="/images/basic<%= i %>.png">
            <h2 style="position: absolute; top: 0; color: #fff"><%= title[i-1] %></h4>
          </div>
          
        </div>
    <% end %>
    </div>

<div class="ui three stackable cards">
<% @missions.each_with_index do |m, index| %>
     <div class="ui fluid card">
      <!--프로필 파트-->
      <div class="content">
        <div class="right floated meta"><%= time_ago_in_words(m.created_at.in_time_zone("Asia/Seoul")) %> ago</div>
        <% if @mission_creator.nil? %>
          <% creator = User.find(@mission_creator[index]) %>
          
          <img class="ui avatar image" src="<%= creator.profile_img %>"> <%= creator.nickname %>
        <% end %>
      </div>
      
      <!--메인 이미지-->
    <div class="blurring dimmable image user-create-image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <a href="/mission/detail/<%= m.id %>">
              <div id="missionPreviewModal<%= m.id %>" class="ui inverted button">자세히 보기</div>
            </a>
 
          </div>
        </div>
      </div>
        <img class="image" src="<%= m.multimedia %>">
    </div>
    
      <!--내용-->
      <div class="content">
        <h3 class="title">
          <%= m.title %>
        </h3>
        <p>
          <%= m.content %>
        </p>
      </div>
      <div class="extra content" style="padding-top: 1px;
    padding-bottom: 1px;">
        <div class="ui basic buttons mainButtongroup">
            
            <% if user_signed_in? %>
              회원 ok?  
              <% @likeClick = MissionLike.where(:mission_id => m.id, :mission_like => 1, :user_id => current_user.id) %>
              <% if @userlike.include?(@likeClick.first) %>
                <a href="/home/missionLike/<%= m.id %>" data-remote="true" id="missionLike">
                  <button class="ui button missionLike<%= m.id%>">
                    <i class="heart icon basic blue" style="cursor: pointer"></i>
                    <span class="missionLike<%= m.id %>" style="color: #54C8FF"><%= m.mission_like_count %></span>
                  </button>
                </a>
              <% else %>
                <a href="/home/missionLike/<%= m.id %>" data-remote="true" id="missionLike">
                  <button class="ui button missionLike<%= m.id%>">
                    <i class="heart icon" style="cursor: pointer"></i>
                    <span class="missionLike<%= m.id %>"><%= m.mission_like_count %></span>
                  </button>
                </a>
              <% end %>
            
            <% else %>
              <a href="/home/missionLike/<%= m.id %>" data-remote="true" id="missionLike">
                  <button class="ui button missionLike<%= m.id%>">
                    <i class="heart icon" style="cursor: pointer"></i>
                    <span class="missionLike<%= m.id %>"><%= m.mission_like_count %></span>
                  </button>
                </a>
            <% end %>
            
                  <button class="ui button mainComment">
                    <i class="comment icon" style="cursor :pointer"></i>1,024
                  </button>
                  <button class="ui button mainShare">
                    <i class="share icon" style="cursor :pointer"></i>30
                  </button>
                </div>
              </div>
    </div>

<% end %>
</div>

<!--render 'home/missionPreviewModal' %>-->

<script>
$(document).ready(function(){
  $('.cards .user-create-image').dimmer({
    on: 'hover'
  });
  $('.cards .basic-image').dimmer({
    on: 'hover'
  });
});
</script>

