<style>
  .mainButtongroup {
    border-radius: 0 !important;
    border: none !important;
  }
  .mainButtongroup .ui.button {
    border-radius: 0 !important;
    border: none !important;
  }
  .ui.basic.buttons .button:hover, .ui.basic.button:hover {
    box-shadow: none !important;
  }
  .ui.basic.buttons .button:focus, .ui.basic.button:focus {
    box-shadow: none !important;
  }
  
  .ui.segment.profile {
    background: url("/images/bts_6.png") repeat; 
  }
  
  .ui.segment.box{
      /*opacity: 0.7 !important;*/
      /*border: none;*/
      filter: alpha(opacity=80); /* For IE8 and earlier */
      background-color: rgba( 2, 2, 2, 0.5 );
  }
  /*.mainLike1:hover, .mainLike2:hover, .mainLike3:hover, .mainLike4:hover, .mainLike5:hover, .mainLike6:hover  {*/
  /*  border: none !important;*/
  /*}*/
</style>  
  
 <!--팝업 내용물-아직 하는 중입니다-->
<div class="ui custom popup top left transition hidden">
  <!--<div class="ui small buttons">-->
    <!--원래 공유 버튼-->
    <!--<button class="ui facebook icon button">-->
    <!--  <a href="https://www.facebook.com/dialog/share?app_id=184484190795&display=popup&e2e=%7B%7D&href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2F&locale=en_US&mobile_iframe=false&next=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FuN4_cXtJDGb.js%3Fversion%3D42%23cb%3Df189db51f1a3c14%26domain%3Dwww.fbrell.com%26origin%3Dhttp%253A%252F%252Fwww.fbrell.com%252Ff3fda3ae0438974%26relation%3Dopener%26frame%3Df2944388ebaf9bc%26result%3D%2522xxRESULTTOKENxx%2522&sdk=joey">-->
    <!--    <i class="facebook icon"></i></a>-->
    <!--</button>-->
    <!--<button class="ui circular twitter icon button">-->
    <!--  <a href="https://twitter.com/intent/tweet?url=https%3A//youtu.be/pBBFy6dK1OY&text=%EC%A3%BC%EA%B0%84%EC%95%84%EC%9D%B4%EB%8F%8C%20%EC%9D%B8%ED%94%BC%EB%8B%88%ED%8A%B8%28Infinite%29%20207%ED%9A%8C&via=YouTube&related=YouTube,YouTubeTrends,YTCreators">-->
    <!--  <i class="twitter icon"></i></a>-->
    <!--</button>-->
    <!--<button class="ui circular youtube icon button">-->
    <!--  <i class="youtube icon"></i>-->
    <!--</button>-->
    
  
  <!--새 방법-->
  <!--페이스북-->
  <a href="http://www.facebook.com/sharer/sharer.php?u="><i class="facebook icon"></i></a>
  <!--트위터-->
  <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  <!--인스타-->
  <!--해야 함-->
  <!--</div>-->
</div>


<!--공유하기 팝업창용 script-->
<script>
$(document).ready(function(){
  $(".share")
    .popup({
      popup : $('.custom.popup'),
      on    : 'click'
    });
});
</script>


<!--프로필-->
<div class="ui segment profile" style="border:none;">
  <div class="ui segment box">
    <div class="ui equal width grid">
      <!--<img src="/images/default-image.png" style="float:right; width:150px;margin-left:40px;"> <5= @user.nickname 5>-->
        <!--<img class="ui circular image" src="/images/choajoa3.png" style="float:right; width:150px;margin-left: 40px;">-->
        <div class="Left floated right aligned three wide column"></div>
          
        <div class="Left floated right aligned three wide column">
            <div class="blurring dimmable image user-create-image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <span id="userProfileImageUploader">
                    <div class="ui inverted icon"><i class="upload icon"></i></div>
                    </span>
                  </div>
                </div>
              </div>
              <img class="ui circular image" src="/images/default_profile.jpg"  style="float:right;margin-top:10px;">
              <!--width:150px;margin-left: 40px;-->
            </div>
        </div>
    
        <div class="Right floated left aligned column">
          <h2 class="ui header duck" style="margin-top: 70px;margin-bottom: 0px;color:white"><%= @user.nickname %>
          &nbsp; 
          <img src="<%= @user.duck_img %>" style="width:30px;" ></h2>
          <!--<5= image_tag("images/duck/" +@duck_img_id +  ".png" , width: '30', alt: "duck_level", class: "duck") 5>-->
          <p style="font-size:12px;color:white;">
            <strong>Duck Pt. </strong><%= @timeline_duckpoint %> &nbsp;
            <strong>Friends </strong>75 &nbsp;
            <strong>Likes </strong><%= @mission_likes %> &nbsp; </p>
        </div>
    </div>
  </div>
</div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="right floated meta">
    <button class="ui button black gridSwitch">
      보기 모드 전환
    </button>
  </div>  

<script>
$(document).ready(function(){
  $('.menu .item')
    .tab()
;
});
</script>



<div class="ui top attached tabular menu">
  <a class="item active" data-tab="mission">만든 미션</a>
  <a class="item" data-tab="performed_mission">수행한 미션</a>
</div>
<div class="ui bottom attached tab segment active" data-tab="mission">
  <!--카드-->
  <i class="grid layout icon" style="display: none;"></i>
  <i class="square icon" style="display: none;"></i>

  <span style="float:right;"><strong>총 <%= @missions.to_a.count %>개</strong></span>
  <br>
  <br>
  <div class="ui three stackable cards">
    <% @missions.each do |m| %>      
      <div class="ui fluid card">
        <!--유저 닉네임 사진 + 수정삭제기능-->
        <div class="content">
          <div class="left floated meta"><%= time_ago_in_words(m.created_at.in_time_zone("Asia/Seoul")) %> ago</div>
          <div class="right floated meta">
            <a href="/mission/mission_editview/<%= m.id %>"><i class="edit icon"></i></a>
            <a href="/mission/mission_destroy/<%= m.id %>"><i class="remove icon"></i></a>
          </div>
        </div>  
        <!--메인 이미지-->
        <div class="image user-create-image">
         <!--style="margin: auto-->
          <img class="image" src="<%= m.multimedia %>">
        </div>
        <!--내용-->
        <div class="content">
          <h3 class="title">
            <%= m.title %>
          </h3>
          <p>
            <%= m.content %>
          </p>
        </div>
        <div class="content" style="padding: 0;">
          <div class="ui basic buttons mainButtongroup">
            <a href="/home/missionLike/<%= m.id %>" data-remote="true" id="missionLike">
              <button class="ui button mainLike<%= m.id%>">
                <i class="heart icon" style="cursor: pointer"></i>
                <span class="mainLike<%= m.id %>"><%= m.mission_like_count %></span>
              </button>
            </a>
            <button class="ui button mainComment">
              <i class="comment icon" style="cursor :pointer"></i>1,024
            </button>
            <button class="ui button mainShare">
              <a href="#" class="mmm">
              <i class="share icon" style="cursor :pointer"></i>
              </a>30
            </button>
          </div>
        </div>  
          <!--<span class="left floated">-->
          <!--  <i class="heart outline like icon"></i>-->
          <!--  17 likes-->
          <!--</span>-->
          <!--<span class="right floated">-->
          <!--  <i class="comment icon"></i>-->
          <!--  3 comments-->
          <!--  <div>-->
          <!--    <a href="#" class="mmm">-->
          <!--      <i class="share alternate icon"></i>-->
          <!--    </a>-->
          <!--    9 shared-->
          <!--  </div>-->
          <!--</span>-->
          
          <!--<div class="extra content">-->
          <!--  <div class="ui large transparent left icon input">-->
          <!--    <i class="heart outline icon"></i>-->
          <!--    <input type="text" placeholder="Add Comment...">-->
          <!--  </div>-->
          <!--</div>-->
      </div>
    <% end %>
  </div>
</div>
<div class="ui bottom attached tab segment" data-tab="performed_mission">
  <!--카드-->
  <i class="grid layout icon" style="display: none;"></i>
  <i class="square icon" style="display: none;"></i>
  
  <span style="float:right;"><strong>총 <%= @performed_missions.to_a.count %>개</strong></span>
  <br>
  <br>
  
  <div class="ui three stackable cards">
    <% @performed_missions.each do |m| %>      
      <div class="ui fluid card">
        <!--프로필 파트-->
        <div class="content">
          <div class="left floated meta"><%= time_ago_in_words(m.created_at.in_time_zone("Asia/Seoul")) %> ago</div>
          <div class="right floated meta">
            <a href="/mission/performed_mission_editview/<%= m.id %>"><i class="edit icon"></i></a>
            <a href="/mission/performed_mission_destroy/<%= m.id %>"><i class="remove icon"></i></a>
          </div>
        </div>  
        <!--메인 이미지-->
        <div class="image user-create-image">
         <!--style="margin: auto-->
          <img class="image" src="<%= m.multimedia %>">
        </div>
        <!--내용-->
        <div class="content">
          <a href="/mission/detail/<%= m.mission_id %>"><h3 class="title">
            ㄴ<%= m.title %>
          </h3>
          </a>
          <br>
          <p>
            <%= m.content %>
          </p>
        </div>
        <div class="content" style="padding: 0;">
          <div class="ui basic buttons mainButtongroup">
            <!--<a href="/home/missionLike/<%#= m.id %>" data-remote="true" id="missionLike">-->
              <button class="ui button mainLike<%#= m.id%>">
                <i class="heart icon" style="cursor: pointer"></i>
            <!--    <span class="mainLike<%#= m.id %>"><%#= m.mission_like_count %></span>-->
              </button>
            <!--</a>-->
            <button class="ui button mainComment">
              <i class="comment icon" style="cursor :pointer"></i>1,024
            </button>
            <button class="ui button mainShare">
              <a href="#" class="mmm">
              <i class="share icon" style="cursor :pointer"></i>
              </a>30
            </button>
          </div>
        </div>  
          <!--<span class="left floated">-->
          <!--  <i class="heart outline like icon"></i>-->
          <!--  17 likes-->
          <!--</span>-->
          <!--<span class="right floated">-->
          <!--  <i class="comment icon"></i>-->
          <!--  3 comments-->
          <!--  <div>-->
          <!--    <a href="#" class="mmm">-->
          <!--      <i class="share alternate icon"></i>-->
          <!--    </a>-->
          <!--    9 shared-->
          <!--  </div>-->
          <!--</span>-->
          
          <!--<div class="extra content">-->
          <!--  <div class="ui large transparent left icon input">-->
          <!--    <i class="heart outline icon"></i>-->
          <!--    <input type="text" placeholder="Add Comment...">-->
          <!--  </div>-->
          <!--</div>-->
      </div>
    <% end %>
  </div>
</div>



<script>
$(document).ready(function(){
    $('.gridSwitch').on('click',function(e) {
        
        if ($(this).hasClass('black')) {
            $('.cards').removeClass('three').addClass('one');
            $('.gridSwitch').removeClass('black').addClass('red');
        }
        
        else if($(this).hasClass('red')) {
            $('.cards').removeClass('one').addClass('three');
             $('.gridSwitch').removeClass('red').addClass('black');
        }
        
    });
});
</script>


<%= render 'home/userProfileImageModal' %>
  
<script>
$(document).ready(function(){
  $('.user-create-image').dimmer({
    on: 'hover'
  });
});
</script>


