<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!--반응형 만들기-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
</head>
<body>
  <!--navbar(상단바) 설정-->
  <% if current_page?('/')%>
    <%= yield %>
  <% elsif current_page?('/users/sign_up')%>
    <%= yield %>
  <% elsif current_page?('/users/sign_in')%>
    <%= yield %>
  <% elsif current_page?('/users/password/new')%>
    <%= yield %>
  <% elsif current_page?('/register/info1')%>
    <%= yield %>
  <% elsif current_page?('/register/info2')%>
    <%= yield %>
  <% else %>
    <%= render 'layouts/navbar' %>
    <div class="ui container" style="margin-top: 20px; margin-bottom: 20px">
      <%= yield %>
    </div>
  <% end %>

  <!--footer 설정-->
  <%= render 'layouts/footer' %>
  
</body>
</html>
